/auto-save-list
/elpa
/games
/magithub
/url
/var
/snippets
*~
.cask
projectile-bookmarks.eld
ac-comphist.dat
network-security.data
/.edbi-ds-history
/.mc-lists.el
/bookmarks
/tramp
/recentf
/auto-save-list
session*